.random-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    margin: auto;
}

.random-list h1 {
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.random-list ol {
    border: 1px solid black;
    width: 280px;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}